In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql, os
pymysql.install_as_MySQLdb()

In [3]:
csv1= "GPI_and_religion.csv"
df1= pd.read_csv(csv1)
df1.head()

       country  gdp_pc  gpi_rank  gpi_score  percentage_non_religious
0      Iceland   38300         1      1.113                     10.04
1      Denmark   36600         2      1.239                      6.90
2  New Zealand   27700         2      1.239                     34.60
3       Canada   39400         4      1.317                     25.50
4        Japan   34000         5      1.326                     77.00

In [4]:
csv2="2016_Legatum_Prosperity_Index_All_Data_2007-2016.csv"
df2= pd.read_csv(csv2)
df2.head()

,country,isonum,isocode,rank_PI2007,rank_PI2008,rank_PI2009,rank_PI2010,rank_PI2011,rank_PI2012,rank_PI2013,...,PI2007,PI2008,PI2009,PI2010,PI2011,PI2012,PI2013,PI2014,PI2015,PI2016
0,Afghanistan,4,AFG,148,147,147,147,149,149,147,...,37.658974,37.647057,38.963036,38.378296,36.900200,38.668499,38.932735,37.607174,37.455376,37.432201
1,Angola,24,AGO,135,132,134,136,139,141,141,...,43.880779,44.554420,44.535950,44.873085,44.395847,43.162972,44.323620,42.917389,42.886642,42.886642
2,Albania,8,ALB,83,74,70,73,71,74,80,...,54.893284,56.077152,56.720837,57.207157,57.316963,57.465553,56.761211,57.827785,58.045925,58.033268
3,United Arab Emirates,784,ARE,43,42,42,41,42,42,41,...,61.111191,61.666214,61.987743,62.561245,62.539627,62.898399,63.802238,64.131271,64.020416,64.007759
4,Argentina,32,ARG,59,61,53,47,45,46,46,...,58.557571,58.000702,59.333523,60.808849,61.545551,60.947567,61.472919,60.910938,61.759857,61.759857

In [5]:
joined_df = df1.merge(df2, on='country', how='inner')
joined_df.head()

,country,gdp_pc,gpi_rank,gpi_score,percentage_non_religious,isonum,isocode,rank_PI2007,rank_PI2008,rank_PI2009,...,PI2007,PI2008,PI2009,PI2010,PI2011,PI2012,PI2013,PI2014,PI2015,PI2016
0,Iceland,38300,1,1.113,10.04,352,ISL,12,10,11,...,75.444588,75.891228,75.298416,75.864273,75.713409,75.245178,75.907555,75.538490,75.638107,75.638107
1,Denmark,36600,2,1.239,6.90,208,DNK,6,6,9,...,76.996033,77.027687,76.670418,77.486473,77.197876,77.058945,77.189590,76.989090,77.374596,77.374596
2,New Zealand,27700,2,1.239,34.60,554,NZL,1,2,1,...,78.098366,77.554016,77.774574,77.993851,78.182449,78.126823,78.832642,78.914742,79.281212,79.281212
3,Canada,39400,4,1.317,25.50,124,CAN,4,4,6,...,77.117516,77.239525,77.363403,77.750946,77.668549,77.745918,77.626656,77.705528,77.690468,77.672218
4,Japan,34000,5,1.326,77.00,392,JPN,22,22,22,...,69.974365,69.310013,69.850708,70.130066,70.620956,70.188782,70.561386,70.387184,70.388870,70.388870

In [6]:
joined_df = joined_df[['country','gdp_pc','gpi_rank','gpi_score','percentage_non_religious','rank_PI2012','PI2012']]

In [7]:
joined_df.columns = ['Country','GDP Per Capita','GPI Rank','GPI Score','Percent Non-Religious','PI Rank 2012','Prosperity Index 2012']

In [8]:
PASSWD = os.getenv("LOCAL_MYSQL_PASS")
USER = "root"
PORT = "3306"
DOMAIN = "localhost"
DB = "etl_test"
engine = create_engine(f"mysql://{USER}:{PASSWD}@{DOMAIN}:{PORT}/{DB}")
conn = engine.connect()

In [10]:
joined_df.to_sql("peace_prosperity",conn,index=False,if_exists="replace")

![GDP.png](https://view.dwcontent.com/file_view/kevinnayar/world-religion-peace-gdp/GDP.png?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Omp1bGlhbnlhbmV6IiwiaXNzIjoiYWdlbnQ6anVsaWFueWFuZXo6OjA4Yjc4OTU0LTJhNjAtNGIyMy1hZWVhLWY4ZDU5Y2YyNWZiMCIsImlhdCI6MTU1NTM3Mjg3Mywicm9sZSI6WyJ1c2VyIiwidXNlcl9hcGlfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiNzU5MDlkM2Q3Y2UzOTliYTViOTYxNjFhYzU2NDExYTllZmEwM2ZkZCJ9.YaenS_plOWpJxc4hUvGmPhLDRZKBFYHnN4r7-LRpTXacMxsMFGR-uq17aBe7-xzzqhNU1jMJcCkUCSRYBXbxwg)

![GPI.png](https://view.dwcontent.com/file_view/kevinnayar/world-religion-peace-gdp/GPI.png?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Omp1bGlhbnlhbmV6IiwiaXNzIjoiYWdlbnQ6anVsaWFueWFuZXo6OjA4Yjc4OTU0LTJhNjAtNGIyMy1hZWVhLWY4ZDU5Y2YyNWZiMCIsImlhdCI6MTU1NTM3MzEwNSwicm9sZSI6WyJ1c2VyIiwidXNlcl9hcGlfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiYmQzMDM1YmVmMGJiNWMwZDVkNTRlNTUwODA1YmRkN2YwZGQ4ZTQwNSJ9.ZkFGdUcIwizjwm6xrQEQzaDNQwXTeWl-yOnh4J3hSQCPJuznDHW6RHRui9kOx80tIKKtCBkMmJdEhqQEArH8tA)

![Percent_Non_Religious.png](https://view.dwcontent.com/file_view/kevinnayar/world-religion-peace-gdp/Percent_Non_Religious.png?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Omp1bGlhbnlhbmV6IiwiaXNzIjoiYWdlbnQ6anVsaWFueWFuZXo6OjA4Yjc4OTU0LTJhNjAtNGIyMy1hZWVhLWY4ZDU5Y2YyNWZiMCIsImlhdCI6MTU1NTM3MzEwNSwicm9sZSI6WyJ1c2VyIiwidXNlcl9hcGlfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiMzk3OTBjODQwMzM5YjZiN2EyOTI2YThjZmM5NzkzN2YxMjRiNzQ0ZCJ9.37sTlHCDyUhfrER3pDFJsq7QTyibnDgiNZCWtK55CteisCGbs0tFOesB6rafIByBdT89NmUpcMLEle9nRnu_cA)